﻿
@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Product>
@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham", item)
}

<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { page = page, maloai=ViewBag.maloai }))
</div>


