﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHang_2180604857.Models.Category

@{
    ViewData["Title"] = "SuaNameSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa Sản Phẩm</h1>

<div>
    <a asp-action="LoaiSanPham">Back</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaLoaiSp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Id">Mã loại:</label>
                <input type="text" class="form-control" id="Id" name="Name" value="@Model.Id" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LoaiSanPham">Back</a>
</div>

