﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHang_2180604857.Models.Category

@{
    ViewData["Title"] = "ThemLoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@TempData["ErrorMessage"]
<h1>Thêm Loại Sản Phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemLoaiSp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LoaiSanPham">Back</a>
</div>

