﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHang_2180604857.Models.Product

@{
    ViewData["Title"] = "ThemSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm Sản Phẩm</h1>

<div>
    <a asp-action="DanhMucSanPham">Back</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Id"></select>
            </div>

            
            <div class="form-group">
                <label asp-for="ProductImages" class="control-label"></label>
                <input asp-for="ProductImages" class="form-control" />
                <span asp-validation-for="ProductImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhMucSanPham">Back</a>
</div>

