﻿@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "ĐĂNG KÝ TÀI KHOẢN";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Thực hiện liên kết với tài khoản @Model.ProviderDisplayName.</h4>
<hr />

<p id="external-login-description" class="text-info">
    Bạn đã xác thực với tài khoản <strong>@Model.ProviderDisplayName</strong>.
    Vui lòng nhập (hoặc xác nhận) chính xác email để liên kết và đăng nhập.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Fullname"></label>
                <input asp-for="Input.Fullname" class="form-control" />
                <span asp-validation-for="Input.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}