﻿@page 
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Team~Alone</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/LayoutAdmin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/LayoutAdmin/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo align-items-center d-flex justify-content-center">
                                <img src="~/LayoutAdmin/assets/images/LogoTeam.png" style="width: 200px; height: 100%;padding: 0;" alt="Team Alone">
                            </div>

                            <h4>Hello! let's get started</h4>
                            <h6 class="font-weight-light">Sign in to continue.</h6>

                            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                            {
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Input.Email, new { @class = "form-control form-control-lg", placeholder = "Email", required = "required", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(x => x.Input.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(x => x.Input.Password, new { @class = "form-control form-control-lg", placeholder = "Password", required = "required" })
                                    @Html.ValidationMessageFor(x => x.Input.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="mt-3">
                                    <button id="login-submit" type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Log in</button>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">Bạn quyên mật khẩu?</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="text-center mt-4">
                                    
                                    @if (Model.ExternalLogins?.Count > 0)
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Đăng nhập bằng tài khoản @provider.DisplayName">@provider.DisplayName</button>
                                                }
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <div>
                                            <p>
                                                Không có dịch vụ xác thực bên ngoài nào được cấu hình. Xem bài viết này về <a href="https://go.microsoft.com/fwlink/?LinkID=532715">thiết lập ứng dụng ASP.NET để hỗ trợ đăng nhập qua các dịch vụ bên ngoài</a>.
                                            </p>
                                        </div>
                                    }
                                </div>

                                <div class="text-center mt-4 font-weight-light">
                                    Don't have an account? <a href="@Url.Action("Register", "Account")" class="text-primary">Create</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="~/LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="~/LayoutAdmin/assets/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}