﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null; // Không sử dụng layout chung
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Team~Alone</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/LayoutAdmin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/LayoutAdmin/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-6 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo align-items-center d-flex justify-content-center">
                                <img src="~/LayoutAdmin/assets/images/LogoTeam.png" style="width: 200px; height: 100%;padding: 0;" alt="Team Alone">
                            </div>
                            <h4>Tạo một tài khoản mới.</h4>
                            <h6 class="font-weight-light">Đăng ký để tiếp tục.</h6>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-group">
                                    <input asp-for="Input.FullName" class="form-control form-control-lg" autocomplete="fullname" aria-required="true" placeholder="Họ và tên" />
                                    <label asp-for="Input.FullName">Họ và tên</label>
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Mật khẩu" />
                                    <label asp-for="Input.Password">Mật khẩu</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Xác nhận mật khẩu" />
                                    <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button id="registerSubmit" type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Đăng Ký</button>
                            </form>
                            <div class="text-center mt-4 font-weight-light">
                                Đã có tài khoản? <a href="@Url.Action("Login", "Account")" class="text-primary">Đăng nhập</a>
                            </div>
                            @* <div class="text-center mt-4">
                                <h6>Hoặc đăng ký bằng</h6>
                                @if (Model.ExternalLogins?.Count > 0)
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Đăng nhập bằng tài khoản @provider.DisplayName">@provider.DisplayName</button>
                                            }
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <div>
                                        <p>
                                            Không có dịch vụ xác thực bên ngoài nào được cấu hình. Xem bài viết này về <a href="https://go.microsoft.com/fwlink/?LinkID=532715">thiết lập ứng dụng ASP.NET để hỗ trợ đăng nhập qua các dịch vụ bên ngoài</a>.
                                        </p>
                                    </div>
                                }
                            </div> *@

                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="~/LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="~/LayoutAdmin/assets/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}