﻿@model IEnumerable<WebBanHang_2180604857.Models.OrderDetail>

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = null;
}

<h1 class="text-center">Chi tiết đơn hàng</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Thông tin khách hàng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>Full Name:</strong> @ViewBag.Order.User?.Fullname
                        </td>
                    </tr>
                    <t>
                        <td>
                            <strong>Email:</strong> @ViewBag.Order.User?.Email
                        </td>
                    </t r>
                </tbody>
                <thead>
                    <tr>
                        <th>Thông tin khác</th>
                    </tr>
                </thead>
                    <tr>
                        <td><strong>Địa chỉ giao hàng:</strong> @ViewBag.Order.ShippingAddress</td>
                    </tr>
                    <tr>
                        <td><strong>Ghi chú:</strong> @ViewBag.Order.Notes</td>
                    </tr>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-right: 20px;">Số lượng đặt hàng</th>
                        <th style="padding-right: 20px;">Giá</th>
                        <th style="padding-right: 20px;">Mã đơn hàng</th>
                        <th>Tên sản phẩm</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="padding-right: 20px;">@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td style="padding-right: 20px;">@Html.DisplayFor(modelItem => item.Price)</td>
                            <td style="padding-right: 20px;">@Html.DisplayFor(modelItem => item.Order.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                @{
                    decimal totalprice = 0;
                    var totalquantity = 0;
                    foreach (var item in Model)
                    {
                        totalprice += (item.Quantity * item.Price);
                        totalquantity += item.Quantity;
                    }
                }
            <div>
                 <b>Tổng số lượng sản phẩm:</b> @totalquantity
            </div>
            <div>
                <b>Tổng tiền:</b> @totalprice
            </div>

            </div>
        </div>
    </div>
</div>

    <button onclick="window.location.href='/Admin/OrderManager/'" class="btn btn-primary">Trở về</button>




