﻿@model IEnumerable<WebBanHang_2180604857.Models.Order>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
}

<h1 style="text-align: center;">Danh sách đơn hàng</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Email</th>
                <th scope="col">Ngày đặt</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.User.Fullname</td>
                    <td>@item.User.Email</td>
                    <td>@item.OrderDate.ToShortDateString()</td>
                    <td>@item.TotalPrice.ToString()</td>
                    @*                     <td>@item.ShippingAddress</td>
                <td>@item.Notes</td> *@
                    <td>
                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-sm">Chi tiết</a>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Bạn có chắc chắn xóa đơn hàng này?');">
                            <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
