﻿@{
    ViewData["Title"] = "Checkout";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            text-align: center;
            color: #343a40;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }

        th {
            background-color: #007bff;
            color: white;
        }

        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
        }

        .btn-danger {
            background-color: #dc3545;
            color: white;
        }

        .btn-success {
            background-color: #28a745;
            color: white;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        .alert {
            margin-top: 20px;
            padding: 15px;
            border-radius: 5px;
            color: #0c5460;
            background-color: #d1ecf1;
            border: 1px solid #bee5eb;
        }

        .alert-heading {
            margin-top: 0;
        }

        .text-center {
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<link href="~/css/checkout.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
@model Order
<div class="container mt-5">
    <h1 class="text-center mb-4">Nhập thông tin đặt hàng</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Thanh Toán</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Checkout" method="post">
                        <div class="form-group">
                            <label asp-for="ShippingAddress">Nhập địa chỉ đặt hàng</label>
                            <input asp-for="ShippingAddress" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes">Ghi Chú</label>
                            <textarea asp-for="Notes" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-secondary btn-lg" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Trở về</a>
                            <button type="submit" class="btn btn-success btn-lg">Đặt hàng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item active">
    <div class="col-sm-12">
        <h1 style="text-align: center;">Thanh toán nhanh gọn! Gửi hàng nhanh chóng :3</h1>
        <img src="https://static.vecteezy.com/system/resources/previews/000/702/086/original/shopping-online-on-website-vector.jpg" width="100%" />
    </div>
</div>
