﻿@{
    Layout = null;
}
@model int;
<!DOCTYPE html>
<html>
<head>
    <title>Order Completed</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        /* Custom styles for order completed form */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .order-completed-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1, h2 {
            color: #007bff;
        }

        .btn-custom {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="order-completed-container">
        <h1>Chúc mừng bạn đã thanh toán thành công</h1>
        <h2>Mã đơn hàng của bạn là @Model</h2>
        <a class="btn btn-primary btn-custom" href="@Url.Action("Index", "Home")">Trở về trang chủ</a>
    </div>
</body>
</html>
