﻿
<!DOCTYPE html>
<html lang="zxx">

<head>
   
    <meta charset="UTF-8">
    <meta name="description" content="ShopFlower Template">
    <meta name="keywords" content="ShopFlower, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopFlower | TeamAlone</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../LayoutShop/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="../LayoutShop/img/logoshop.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">Tổng giá: <span>$0.00</span></div>
        </div>
        <div class="humberger__menu__widget">

            <div class="header__top__right__auth">
                <partial name="_LoginPartial" />
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a onclick="window.location.href='/'"> Trang chủ</a></li>
                <li><a href="https://localhost:7167/ShoppingCart">Giỏ hàng</a></li>
                <li>
                    <a href="#">Đề cử mẫu</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Hoa mừng 20/11</a></li>
                        <li><a href="./shoping-cart.html">Hoa tỏ tình</a></li>
                        <li><a href="./checkout.html">Hoa tưởng niệm</a></li>
                        <li><a href="./blog-details.html">Hoa tốt nghiệp</a></li>
                    </ul>
                </li>
                <li><a href="https://www.facebook.com/wiluhoang.9107">Tổng đài</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/wiluhoang.9107"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> Hoangdeptrai@gmail.com</li>
                <li>Miễn phí giao hàng nhanh chóng!!!</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Hoangdeptrai@gmail.com</li>
                                

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            <div class="header__top__right__auth">
                                <partial name="_LoginPartial" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="../LayoutShop/img/logoshop.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a onclick="window.location.href='/'"> Trang chủ</a></li>
                            <li><a href="https://localhost:7167/ShoppingCart">Giỏ hàng</a></li>
                            <li>
                                <a href="#">Đề cử mẫu</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="https://localhost:7290/Home/ProductDetail?maSp=ghjhgj">Hoa mừng 20/11</a></li>
                                    <li><a href="https://localhost:7290/Home/ProductDetail?maSp=treeqwe">Hoa tỏ tình</a></li>
                                    <li><a href="https://localhost:7290/Home/ProductDetail?maSp=dsadadqw">Hoa tưởng niệm</a></li>
                                    <li><a href="https://localhost:7290/Home/ProductDetail?maSp=qcxcasa">Hoa lễ tốt nghiệp</a></li>
                                </ul>
                            </li>
                            <li><a href="https://www.facebook.com/wiluhoang.9107">Tổng đài</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">Tổng giá: <span>$0.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("LoaiSpMenu")
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-controller="Home" asp-action="Search" method="get" class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchString">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>

                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+86 34.505.016</h5>
                                <span>Hỗ trợ 24/7 </span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="../LayoutShop/img/hero/banner-hoatuoi.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/love.jpg">
                            <h5><a href="#">Tình yêu</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/hoasinhnhat.jpg">
                            <h5><a href="#">Hoa sinh nhật</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/chucmung.jpg">
                            <h5><a href="#">Chúc mừng</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/hoachiabuon.jpg">
                            <h5><a href="#">Hoa chia buồn</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/camon.jpg">
                            <h5><a href="#">Hoa cảm ơn</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Danh Sách Hoa Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Danh Sách Hoa</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".flowergift">Hoa tặng</li>
                            <li data-filter=".flower-Lan">Hoa Lan</li>
                            <li data-filter=".flower-decor">Hoa Thiết Kế</li>
                            <li data-filter=".flower-holiday">Hoa dịp lễ</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="displayProducts" class="row featured__filter">
                @RenderBody()
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../LayoutShop/img/blog/Vuon-hoa-Tam-Giac-Mach.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> Ngày 11, Tháng 4, Năm 2024</li>
                                <li><i class="fa fa-comment-o"></i>112</li>
                            </ul>
                            <h5><a href="https://halotravel.vn/vuon-hoa-tam-giac-mach-da-lat/">Vườn Hoa Tam Giác Mạch</a></h5>
                            <p>
                                là cái tên vô cùng quen thuộc ở các tỉnh miền núi phía Bắc nước ta.  Đặc biệt là vùng cao nguyên núi đá Đồng Văn, Hà Giang. Nhắc tới Hoa Tam Giác Mạch là người ta nghĩ ngay tới nơi đây, sở dĩ bởi vì hoa Tam Giác Mạch chính là biểu tượng của vùng đất này.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../LayoutShop/img/blog/Vuon-hoa-thanh-pho-Da-Lat.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> Ngày 10, Tháng 4, Năm 2024</li>
                                <li><i class="fa fa-comment-o"></i> 239</li>
                            </ul>
                            <h5><a href="https://dulichdalat.pro/vuon-hoa-da-lat/">Nhà vườn hoa Đà Lạt </a></h5>
                            <p>Vườn hoa thành phố đà lạt có rất nhiều loại hoa và màu sắc khác nhau sẽ cho bạn rất nhiều bức ảnh đẹp.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../LayoutShop/img/blog/vuon-hoa-da-lat.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> Ngày 12, Tháng 4, Năm 2024</li>
                                <li><i class="fa fa-comment-o"></i> 131</li>
                            </ul>
                            <h5><a href="https://pystravel.vn/tour/4733-tour-tp-ho-chi-minh-da-lat-4-ngay-3-dem.html">Checkin Tour từ TP.HCM đến Đà Lạt </a></h5>
                            <p>
                                Đoàn khám phá:

                                Dinh III - được đánh giá là dinh thự đẹp đẽ và trang nhã nằm giữa một rừng thông thuần chủng, gắn liền với các tiểu cảnh kiến trúc công viên, vườn Thượng Uyển, rừng Ái Ân và một hồ nước nhỏ hòa quyện vào nhau một cách rất hợp lý và thơ mộng.
                                Thiền viện Trúc Lâm với vẻ đẹp Phật giáo hài hòa cùng thiên nhiên và muôn sắc hoa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="../LayoutShop/img/logoshop.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Cửa hàng chính: 79,Tân lập 1,Hiệp phú, Quận 9, TP.HCM</li>
                            <li>Điện thoại: +86 34.505.016</li>
                            <li>Email: Hoangdeptrai@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Chăm sóc khách hàng</h6>
                        <ul>
                            <li><a href="#">Giới Thiệu</a></li>
                            <li><a href="#">Liên Hệ</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Bảo mật thông tin</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chính sách hoàn trả</a></li>
                            <li><a href="#">Xử lý khiếu nại</a></li>
                            <li><a href="#">Lý do nên chọn ShopFlower</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Người tin dùng</a></li>
                            <li><a href="#">Cho nhóm tớ 10 điểm nhé </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Liên hệ với chúng tôi</h6>
                        <p>Gửi Email liên hệ với chúng tôi nếu bạn có bất kỳ vấn đề nào cần được hỗ trợ</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Xác Nhận</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/wiluhoang.9107"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Đã đăng ký bản quyền |  <i class="fa fa-heart" aria-hidden="true"></i>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="../LayoutShop/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../LayoutShop/js/jquery-3.3.1.min.js"></script>
    <script src="../LayoutShop/js/bootstrap.min.js"></script>
    <script src="../LayoutShop/js/jquery.nice-select.min.js"></script>
    <script src="../LayoutShop/js/jquery-ui.min.js"></script>
    <script src="../LayoutShop/js/jquery.slicknav.js"></script>
    <script src="../LayoutShop/js/mixitup.min.js"></script>
    <script src="../LayoutShop/js/owl.carousel.min.js"></script>
    <script src="../LayoutShop/js/main.js"></script>
    @RenderSection("Scripts", required: false)
    
</body>

</html>