﻿@model Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
        <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="@Url.Content("../ProductImages/Images/" + Model.ProductImages)" style="background-image: url(&quot;img/featured/feature-1.jpg&quot;);">

                <ul class="featured__item__pic__hover">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                    <li><a href="#" class="add-to-cart" data-product-id="@Model.Id"><i class="fa fa-shopping-cart"></i></a></li>

                </ul>
            </div>
            <div class="featured__item__text">
                <h6><a asp-controller="Home" asp-action="ProductDetail" asp-route-maSp="@Model.Id">@Model.Name</a></h6>
                <h5>@Model.Price VNĐ</h5>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @*Thông báo*@
    <script>
        $(document).on('click', '.add-to-cart', function (e) {
            e.preventDefault();
            var productId = $(this).data("product-id");

            $.ajax({
                url: "/ShoppingCart/AddToCart", // Đường dẫn tới action AddToCart
                method: "POST", // Phương thức POST hoặc GET
                data: { productId: productId }, // Dữ liệu gửi đi, ở đây là productId
                success: function (response) {
                    // Hiển thị thông báo khi thêm sản phẩm vào giỏ hàng thành công
                    swal("Success", "Thêm sản phẩm thành công!", "success");

                    // Cập nhật phần giỏ hàng sau khi thêm sản phẩm thành công
                    // Ví dụ: $(#cart).html(response.cartHtml);
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.error(error);
                }
            });
        });
    </script>

</body>
</html>
